/* BODY */

body::-webkit-scrollbar {
    display: none;
}

/* BODY */

/* BUTTONS */

.__btn {
    cursor: pointer;
    background: none;
}

.__btn_square {
    width: 40px;
    height: 40px;
}

.__btn_centered {
    display: grid;
    place-items: center;
}

/* ICONS */

.tabler-icon {
    stroke-width: 1.5;
    stroke: var(--primary);
}