.__table {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-white);
}

.__table .__table_head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: var(--color-white);
    justify-content: space-between;
    background-color: var(--color-primary);
}

.__table .__table_head .__col {
    width: 100%;
    display: grid;
    font-size: .8rem;
    place-items: center;
    border-right: 1px solid #EEEEEE;
}

.__table .__table_head .__col_id {
    width: 60px;
    min-width: 60px;
}

.__table .__table_body {
    width: 100%;
}

.__table .__table_body .__row {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.__table .__table_body .__row .__col {
    width: 100%;
    display: grid;
    font-size: .8rem;
    place-items: center;
    border-right: 1px solid #EEEEEE;
}

.__table .__table_body .__row .__col_id {
    width: 60px;
    min-width: 60px;
}

.__table .__table_body .__row_load {
    width: 100%;
    height: 60px;
    display: grid;
    place-items: center;
}

.__table .__table_body .__row_load .__btn_load {
    padding: .8rem 1rem;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
}