.w { width: var(--w); min-width: var(--mnw); max-width: var(--mxw); }
.h { height: var(--h); min-height: var(--mnh); max-height: var(--mxh); }

.w-full { width: 100%; }
.h-full { height: 100%; }

.w-screen { width: 100dvw; }
.h-screen { height: 100dvh; }