:root {
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
    --space-section: 80px;
}

/* padding all */

.p-0 { padding: var(--space-0); }
.p-xxs { padding: var(--space-xxs); }
.p-xs { padding: var(--space-xs); }
.p-sm { padding: var(--space-sm); }
.p-md { padding: var(--space-md); }
.p-lg { padding: var(--space-lg); }
.p-xl { padding: var(--space-xl); }
.p-xxl { padding: var(--space-xxl); }

/* padding axis */

.px-xxs { padding-inline: var(--space-xxs); }
.px-xs { padding-inline: var(--space-xs); }
.px-sm { padding-inline: var(--space-sm); }
.px-md { padding-inline: var(--space-md); }
.px-lg { padding-inline: var(--space-lg); }
.px-xl { padding-inline: var(--space-xl); }

.py-xxs { padding-block: var(--space-xxs); }
.py-xs { padding-block: var(--space-xs); }
.py-sm { padding-block: var(--space-sm); }
.py-md { padding-block: var(--space-md); }
.py-lg { padding-block: var(--space-lg); }
.py-xl { padding-block: var(--space-xl); }

.pt-xs { padding-top: var(--space-xs); }
.pb-xs { padding-bottom: var(--space-xs); }
.pl-xs { padding-left: var(--space-xs); }
.pr-xs { padding-right: var(--space-xs); }

.pt-sm { padding-top: var(--space-sm); }
.pb-sm { padding-bottom: var(--space-sm); }
.pl-sm { padding-left: var(--space-sm); }
.pr-sm { padding-right: var(--space-sm); }

.pt-md { padding-top: var(--space-md); }
.pb-md { padding-bottom: var(--space-md); }
.pl-md { padding-left: var(--space-md); }
.pr-md { padding-right: var(--space-md); }

.m-0 { margin: var(--space-0); }
.m-xxs { margin: var(--space-xxs); }
.m-xs { margin: var(--space-xs); }
.m-sm { margin: var(--space-sm); }
.m-md { margin: var(--space-md); }
.m-lg { margin: var(--space-lg); }
.m-xl { margin: var(--space-xl); }

.mx-xs { margin-inline: var(--space-xs); }
.mx-sm { margin-inline: var(--space-sm); }
.mx-md { margin-inline: var(--space-md); }

.my-xs { margin-block: var(--space-xs); }
.my-sm { margin-block: var(--space-sm); }
.my-md { margin-block: var(--space-md); }

.mt-xs { margin-top: var(--space-xs); }
.mb-xs { margin-bottom: var(--space-xs); }

.mt-sm { margin-top: var(--space-sm); }
.mb-sm { margin-bottom: var(--space-sm); }

.mt-md { margin-top: var(--space-md); }
.mb-md { margin-bottom: var(--space-md); }